/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/build/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/dist/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/nbproject/private/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/build/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/dist/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/nbproject/private/
/MigracionPF_BT/MigracionPF_BT/build/
/MigracionPF_BT/MigracionPF_BT/dist/
/MigracionPF_BT/MigracionPF_BT/nbproject/private/
/SIRELAB UC/SIRELAB-UC/nbproject/private/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/nbproject/private/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/nbproject/private/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/build/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/dist/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/build/
/SIRELAB UC/SIRELAB-UC/build/
/SIRELAB UC/SIRELAB-UC/dist/
/SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/dist/
/Alpha SIRELAB UC/SIRELAB-UC/nbproject/private/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/nbproject/private/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/nbproject/private/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/build/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-ejb/dist/
/Alpha SIRELAB UC/SIRELAB-UC/build/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/build/
/Alpha SIRELAB UC/SIRELAB-UC/SIRELAB-UC-war/dist/
/Alpha SIRELAB UC/SIRELAB-UC/dist/