/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/build/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/dist/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-ejb/nbproject/private/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/build/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/dist/
/MigracionPF_BT/MigracionPF_BT/MigracionPF_BT-war/nbproject/private/
/MigracionPF_BT/MigracionPF_BT/build/
/MigracionPF_BT/MigracionPF_BT/dist/
/MigracionPF_BT/MigracionPF_BT/nbproject/private/